<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teeny.wms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.WMSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".page.common.activity.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".page.login.LoginActivity"
            android:exported="false"
            android:label="@string/text_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".page.main.MainActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />

        <activity
            android:name=".page.login.ServerConfigActivity"
            android:exported="false"
            android:label="@string/text_system_configure"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.login.SystemConfigCreateActivity"
            android:exported="false"
            android:label="@string/text_create_system_configure"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.main.WarehouseSwitchActivity"
            android:exported="false"
            android:label="@string/text_switch_warehouse"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.receiving.ReceivingAcceptanceActivity"
            android:exported="false"
            android:label="@string/text_receiving_acceptance"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.receiving.AcceptanceLotAddActivity"
            android:exported="false"
            android:label="@string/text_lot_add"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".page.shelve.ShelveAndStorageActivity"
            android:exported="false"
            android:label="@string/text_shelve_and_storage"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.allot.AllotListActivity"
            android:exported="false"
            android:label="@string/text_allot_list"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.review.ExWarehouseReviewActivity"
            android:exported="false"
            android:label="@string/text_ex_warehouse_review"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.document.QueryDocumentActivity"
            android:exported="false"
            android:label="@string/text_document_query"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.sku.SKUCheckActivity"
            android:exported="false"
            android:label="@string/text_sku_check"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />

        <activity
            android:name=".page.sku.SKUDetailActivity"
            android:exported="false"
            android:label="@string/text_sku_detail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".page.sku.SKUAddActivity"
            android:exported="false"
            android:label="@string/text_sku_add"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.shop.ShopFirstActivity"
            android:exported="false"
            android:label="@string/text_shop_first"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />

        <activity
            android:name=".page.shop.ShopFirstEditActivity"
            android:exported="false"
            android:label="@string/text_inventory_edit"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.shop.ShopFirstAddActivity"
            android:exported="false"
            android:label="@string/text_inventory_add"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".page.warehouse.WarehouseFirstActivity"
            android:exported="false"
            android:label="@string/text_warehouse_first"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />

        <activity
            android:name=".page.second.SecondInventoryActivity"
            android:exported="false"
            android:label="@string/text_second_count"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />

        <activity
            android:name=".page.receiving.ReceivingAcceptanceOrderDetailActivity"
            android:exported="false"
            android:label="@string/text_order_detail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.common.activity.LotEditActivity"
            android:exported="false"
            android:label="@string/text_lot_add"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />

        <activity
            android:name=".page.warehouse.WarehouseFirstEditActivity"
            android:exported="false"
            android:label="@string/text_inventory_edit"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.second.SecondInventoryEditActivity"
            android:exported="false"
            android:label="@string/text_inventory_edit"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.allot.AllotListEditActivity"
            android:exported="false"
            android:label="@string/text_allot_list_update"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.allot.AllotListFilterActivity"
            android:exported="false"
            android:label="@string/text_allot_list_filter"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.common.activity.AllocationEditActivity"
            android:exported="false"
            android:label="@string/text_location_add"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.shelve.ShelveAndStorageEditActivity"
            android:exported="false"
            android:label="@string/text_shelve_edit"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".page.warehouse.WarehouseFirstAddActivity"
            android:exported="false"
            android:label="@string/text_inventory_add"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".page.second.SecondInventoryAddActivity"
            android:exported="false"
            android:label="@string/text_inventory_add"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity android:name=".page.review.RecipientActivity"
            android:exported="false"
            android:label="@string/text_recipient_choose"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!--2017.12.28-->
        <activity android:name=".page.barcode.BarcodeCollectActivity"
            android:exported="false"
            android:label="@string/text_barcode_collect"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name=".page.barcode.BarcodeAddActivity"
            android:exported="false"
            android:label="@string/text_barcode_add"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name=".page.allot.AllotOrderAddActivity"
            android:exported="false"
            android:label="@string/text_allot_order_add"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <service
            android:name=".service.PollingService"
            android:exported="false" />
    </application>

</manifest>